html,
body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: grid;
  min-height: 100dvh;
  grid-template-areas: "aside  main";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
}

.main {
  grid-area: main;
}